<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
            </div>
            {{graficos.grafico1.leyenda}}
            <app-grafico-dona [ChartLabels]="graficos.grafico1.data" [ChartData]="graficos.grafico1.labels" [ChartType]="graficos.grafico1.type"></app-grafico-dona>
            <!-- <div style="display: block">
                    <canvas baseChart [data]="graficos.grafico1.data" [labels]="graficos.grafico1.labels" [chartType]="graficos.grafico1.type"></canvas>
                </div> -->
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {{graficos.grafico2.leyenda}}
                <app-grafico-dona [ChartLabels]="graficos.grafico2.data" [ChartData]="graficos.grafico2.labels" [ChartType]="graficos.grafico2.type"></app-grafico-dona>
                <!-- <div style="display: block">
                    <canvas baseChart [data]="graficos.grafico2.data" [labels]="graficos.grafico2.labels" [chartType]="graficos.grafico2.type"></canvas>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {{graficos.grafico3.leyenda}}
                <app-grafico-dona [ChartLabels]="graficos.grafico3.data" [ChartData]="graficos.grafico3.labels" [ChartType]="graficos.grafico3.type"></app-grafico-dona>
                <!-- <div style="display: block">
                    <canvas baseChart [data]="graficos.grafico3.data" [labels]="graficos.grafico3.labels" [chartType]="graficos.grafico3.type"></canvas>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {{graficos.grafico4.leyenda}}
                <app-grafico-dona [ChartLabels]="graficos.grafico4.data" [ChartData]="graficos.grafico4.labels" [ChartType]="graficos.grafico4.type"></app-grafico-dona>
                <!-- <div style="display: block">
                    <canvas baseChart [data]="graficos.grafico4.data" [labels]="graficos.grafico4.labels" [chartType]="graficos.grafico4.type"></canvas>
                </div> -->
            </div>
        </div>
    </div>

</div>